certifi==2018.4.16
chardet==3.0.4
decorator==4.3.0
enum34==1.1.6
functools32==3.2.3.post2
idna==2.6
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.4.0
lxml==4.6.5
nbformat==4.4.0
numpy==1.14.3
pandas==0.21.0
pkg-resources==0.0.0
plotly==2.6.0
psycopg2==2.7.3.2
pymzml==0.7.8
pyteomics==3.4.2
python-dateutil==2.7.3
pytz==2018.4
requests==2.20.1
six==1.11.0
traitlets==4.3.2
urllib3==1.26.5
